

<h1 style= "text-align: center"; class="deepshd">Lost Pets</h1>
<p>

</p>
  <div class="container">
    <div class="row">    
      <% @pets.each do |pet| %>
        <tr id="center-cards">
            <div class="col-sm">   
              <div class="card",class="flex-container" style="width: 18rem;">
                  <%= image_tag(pet.image, style: "width: 100px", height:"100px", id:"center-cards", class:"img-rounded" ) %>
                  <div class="card-body",class="flex-container">
                      <h5 id="left-cards"><%= "Name: #{pet.name}" %></h5>
                      <p class="card-text"> <%= "Date Lost: #{pet.date_lost}" %></p>
                      <a><%= link_to 'See Details', pet, :class => "button btn btn-info",  id:"center-cards" %> </a>
                      
                  </div>
              </div>
      <p></p>
             </div>
          </tr>
      <% end %>
    </div>
  </div> 

 
  <a><%= link_to 'Add a missing Pet', new_pet_path, :class => "button btn btn-info",  id:"center-cards" %> </a>

  