<p id="notice"><%= notice %></p>

<h1 style= "text-align: center;">Lost Pets</h1>
<p></p>
<div class="d-flex justify-content-around">
<table>
  
  <tbody>
 
    <% @pets.each do |pet| %>
      <tr>
      
      <div class="card" style="width: 18rem;">
      <%= image_tag(pet.image, style: "width: 100px" ) %>
      <div class="card-body">
      <h5 class="card-title"><%= "Name: #{pet.name}" %></h5>
      <p class="card-text"> <%= "Date Lost: #{pet.date_lost}" %></p>
      <a><%= link_to 'See Details', pet, :class => "button btn btn-info" %> </a>

      
  </div>
</div>
        
      </tr>
  </div>
    <% end %>
  </tbody>
</table>

<br>


<%# <%= link_to 'New Pet', new_pet_path %> 