<%# <%= @pet.inspect %> 

    <div> </div>
    <div> </div>
    <div> </div>
    <div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-6">
        <%# <%= "Name:" %> 
       <div class="deepshd2" style= "text-align:center">
        <h2> <%= @pet.name %> </h2>
      <p></p>
        <div> </div>
       </div>

       <div style= "text-align:center">
      <%= image_tag(@pet.image, style: "width: 200px", class: "rounded") %>
      <div> </div>
   

        <%= "Category:" %>
        <%=  @pet.category %>
        <div> </div>
        <%= "Breed:"%>
        <%= @pet.breed %>
        <div> </div>
        <%= "Color:"%>
        <%= @pet.color %>
        <div> </div>
        <%= "Characteristic:"%>
        <%= @pet.characteristic %>
        <div> </div>
        <%= "Owner:"%>
        <%= @pet.user.name %>
        <div> </div>
        <%= "Date Lost:"%>
        <%= @pet.date_lost %>
        <div> </div>
        <%= "Last seen:"%>
        <%= @pet.last_seen %>
        <div> </div>
    </div>
    </div>
 
     <div class="col-sm-3 col-md-6">
      <div id="map" style="width:100%;height:300px;"></div>

    </div>
      </div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @pet.latitude %>, lng: <%= @pet.longitude %>},
          zoom: 15
        });
          var marker = new google.maps.Marker(document.getElementById('map'), {
              position: {lat: <%= @pet.latitude %>, lng: <%= @pet.longitude %>}});
      }
      
    </script>


    

    
<p> </p>
 <h1 class="deepshd" style= text-align:center> Last Seen Reports </h1>
 <p> </p>
<div class="container">
<table class="table-striped"  >
  <thead style= text-align:center >
  
    <tr>
      <th>Who made the report </th>
      <th>When? </th>
      <th>Where?  </th>
      <th>Comment</th>
      <th colspan="5"></th>
      
    </tr>
  </thead>

  <tbody style= text-align:center;>
    <% @pet.reports.each do |report| %>
      <tr>
        <td><%= report.user.name%></td>
        <td><%= report.last_seen %></td>
        <td><%= report.place %></td>
        <td><%= report.comment %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

     <% if user_signed_in? && current_user.id == @pet.user.id %>
       <%= link_to "Edit", "/pets/#{params[:id]}/edit",class:"btn btn-outline-primary" %>       
       
        <%= link_to "New Report", "/pets/#{params[:id]}/reports/new",class:"btn btn-outline-success"%>     
        
       <%= link_to 'Back', pets_path,class:"btn btn-outline-secondary"%>
     <% elsif user_signed_in? %>
        <%= link_to "New Report", "/pets/#{params[:id]}/reports/new",class:"btn btn-outline-success" %>   
        
        <%= link_to 'Back', pets_path, class:"btn btn-outline-secondary"%>
    <% elsif %>
        <p></p>
        <h5  class="font-weight-light" style="color:red"> Please Log In to add a report! </h5>
    
    <% end %>
    
 <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['API_KEY']%>&callback=initMap"
  type="text/javascript"></script>



    
