
<%= form_for [@pet,@report] do |form|%>
   
<div class="container">
<h1 class= "deepshd" style= "text-align:center"><%= "Did you saw #{@pet.name}?"%> </h1>
<p>

</p>
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2"> When?</label>
        <%= form.date_field :last_seen%>
    </div>
    <div></div>
    <label class="control-label col-sm-2"> Place:</label>
    <%= form.text_field :place%>
    <div></div>
    
    <label class="control-label col-sm-2" > Comment:</label>
    <%= form.text_area :comment%>

    <p> </P>
    <div class="actions">
   
    <%= form.submit "Create Report", class:"btn btn-outline-success"%>
<% end %>

       <%= link_to 'Back', pets_path,class:"btn btn-outline-secondary"%>

   

